@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: fit-content;
  min-width: 100vw;
}

body {
  background: #0f172a;
  width: 100%;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
